flask
fastapi
psutil
aiofiles==24.1.0
aiohttp==3.9.5
aiosignal
beautifulsoup4
bs4
spotipy
python-dotenv
requests
ffmpeg-python
uvloop
aiocron
croniter
wget
playwright
numpy
opencv-python-headless
pymediainfo
attrify
gitpython
httpx[http2]==0.27.2
ntgcalls
gpytranslate
gtts
pytimeparse
regex
Pillow
pytz
opencv-python
meval
aiorun
telegraph
aiosqlite
aioshutil
unidecode
SpeechRecognition
browser-cookie-3x
qrcode
geopy
textblob
cloudscraper25
yt-dlp
uvicorn
TgCrypto
pyromod
telethon
google-genai
git+https://github.com/jonesroot/callgram.git@master
git+https://github.com/google-gemini/generative-ai-python.git@main
git+https://github.com/FerlyKurniawan/hydrogram@dev
git+https://github.com/FerlyKurniawan/pyrogram@master
git+https://github.com/FerlyKurniawan/pyrogram-fork@dev
pyrogram-navy
git+https://github.com/yt-dlp/yt-dlp@master