flask
fastapi
psutil
aiofiles
aiohttp
aiosignal
beautifulsoup4
bs4
spotipy
python-dotenv
requests
ffmpeg-python
uvloop
aiocron
croniter
wget
playwright
opencv-python-headless
pymediainfo
attrify
gitpython
httpx[http2]==0.27.2
ntgcalls==1.0.2
gtts
pytimeparse
regex
Pillow
pytz
opencv-python
pyromod==1.5
meval
aiorun
telegraph
aiosqlite
aioshutil
unidecode
speechrecognition
browser-cookie-3x
tgcrypto-pyrofork
qrcode
geopy
textblob
cloudscraper25
apscheduler
bard
bing_image_downloader 
deepai
daxxhub
dnspython
emojis
Faker
future==1.0.0
git+https://github.com/AsmSafone/SafoneAPI
hachoir
heroku3
img2pdf
instaloader
lexica-api
motor 
MukeshAPI
numpy
openai==0.28.0
pickledb
pornhub-api==0.2.0
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
python-telegram-bot==21.1.1
python-whois
pyshorteners
pyttsx3
pytube
pyyaml==6.0.1
SafoneAPI
search_engine_parser
speedtest-cli
yt-dlp
youtube-search
youtube-search-python
uvicorn
telethon
google-genai
git+https://github.com/jonesroot/callgram.git@master
git+https://github.com/google-gemini/generative-ai-python.git@main
git+https://github.com/FerlyKurniawan/hydrogram@dev
git+https://github.com/FerlyKurniawan/pyrogram@master
git+https://github.com/FerlyKurniawan/pyrogram-fork@dev
pyrogram-navy
git+https://github.com/yt-dlp/yt-dlp@master